mpcite.egg-info/*
*.html
*.pyc
*.yaml
*.log
!files/config_test.json
!files/config_prod.json
!files
.idea
dist
build
mpcite.egg-info
.DS_store
files/config_test.json
.pytest_cache
.ipynb_checkpoints
*.json
.env
/json_pages